body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.main-block {
  width: 375px;
  background-color: #d6e1ff;
}
.block-heard-summary {
  width: 100%;
  height: 173.55px;
}
.hero-guittar-image {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
}
.main-summary p {
  color: #9499a8;
}
.main-summary {
  font-family: "Red Hat Display", sans-serif;
  color: #343c57;
  font-weight: 900;
  margin-top: 0;
  background-color: #fff;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
}
.change-price {
  gap: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  background-color: #f8f9fe;
  border-radius: 10px;
  padding: 10px 10px;
}
.button-pay {
  background-color: #382ae1;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  height: 65px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.button-cancel {
  border: none;
  font-weight: 600;
  color: gray;
  align-items: center;
}
